@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
.main
{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 100px;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding:30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}
.logo
{
	max-width: 280px;
}
.nav
{
	display: flex;
}
.nav.active
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #d10a20;
}
.nav li
{
	list-style: none;
}
.nav li a
{
	position: relative;
	color: #fff;
	text-decoration: none;
	margin-left: 40px;
}
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .text
{
	width: 100%;
}
.content .text h2
{
	color: #50C878;
	font-size: 4em;
	font-weight: 300;
}
.content .text h2 span
{
	font-weight: 700;
}
.content .text p
{
	color: #fff;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 20px 0;
}
.content2
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .text2
{
	width: 100%;
	max-width: 600px;
}
.content .text2 h2
{
	color: #000000;
	font-size: 5em;
	font-weight: 300;
}
.content .text2 h2 span
{
	font-weight: 700;
}
.content .text2 p
{
	color: #000000;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 20px 0;
}
.btn 
{
	position: relative;
	display: inline-block;
	padding: 20px 50px;
	background: #fff;
	color: #333;
	font-size: 1.1em;
	font-weight: 500;
	border-radius: 40px;
	text-decoration: none;
	transition: 0.25s;
}
.btn:hover
{
	letter-spacing: 2px;
}
.footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	padding: 30px 100px;
	justify-content: space-between;
	align-items: flex-end;
}
.sci
{
	display: flex;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	color: #fff;
	font-size: 2em;
	margin-left: 20px;
	display: inline-block;
	transition: 0.25s;
}
.sci li a:hover
{
	transform: translateY(-5px);
}
.prevNext
{
	position: relative;
	user-select: none;
}
.prevNext p
{
	position: relative;
	color: #fff;
	text-align: end;
	margin-bottom: 15px;
}
.prevNext p::before
{
	content: '';
	position: absolute;
	top: 50%;
	left: -65px;
	transform: translateY(-50%);
	width: 50px;
	height: 2px;
	background: #fff;
}
.prevNext span
{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border:  2px solid #fff;
	cursor: pointer;
	font-size: 2em;
	color: #fff;
}
.prevNext span:nth-child(2)
{
	margin-right: 20px;
}

.hide-on-mobile { display: inline; }
/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px){ .hide-on-mobile { display: none; }}

.show-on-mobile { display: none; }
/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px){ .show-on-mobile { display: inline; }}
/* responsive fo mobile  */

@media (max-width:768px)
{
	.main
	{
		padding: 40px;
	}
	header
	{
		padding: 20px 40px;
	}
	.logo
	{
		max-width: 140px;
	}
	.content
	{
		flex-direction: column;
		margin-top: 120px 0;
	}
	.content .text
	{
		max-width: 100%;
	}
	.content .text h2
	{
		font-size: 3em;
	}
	.content2
	{
		flex-direction: column;
		margin-top: 120px 0;
	}
	.content2 .text2
	{
		max-width: 100%;
	}
	.content2 .text2 h2
	{
		font-size: 3em;
	}
	.slider
	{
		margin-top: 40px;
	}
	.slider .slides img 
	{
		width: 100%;
		max-width: 420px;
	}
	.footer
	{
		position: absolute;
		padding: 20;
	}
	.nav
	{
		display: none;
	}
	}
	.dropbtn {
    	background-color: #3498DB;
    	color: white;
    	padding: 16px;
    	font-size: 16px;
    	border: none;
    	cursor: pointer;
	}

	.dropbtn:hover, .dropbtn:focus {
	    background-color: #2980B9;
	}

	.dropdown {
    	position: relative;
    	display: inline-block;
	}

	.dropdown-content {
	    display: none;
    	position: absolute;
    	background-color: #f1f1f1;
    	min-width: 160px;
    	overflow: auto;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	z-index: 1;
	}

	.dropdown-content a {
    	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
	}

	.dropdown a:hover {background-color: #ddd;}

	.show {display: block;}